@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-tita-50: #fff9f9;
  --color-tita-100: #ffecec;
  --color-tita-200: #ffd4d4;
  --color-tita-300: #ffafaf;
  --color-tita-400: #fb7c7c;
  --color-tita-500: #f04e4e;
  --color-tita-600: #de2d2d;
  --color-tita-700: #ba2020;
  --color-tita-800: #9a1e1e;
  --color-tita-900: #801e1e;
}

body {
  background-color: var(--color-tita-50);
  color: #333333;
}
